*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cornsilk;
}
.container{
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
    display: grid;
    grid-template-rows: [row1-start] 100px [row1-end] auto [third-line] ;

}
.header{
    background-color:lightblue;
}
.main-content{
    background-color: lightgoldenrodyellow;
}
.dish-slide{
    background-color:lightseagreen;
    display: flex;
    position: absolute;
    width: 100%;
    top: 72%;
    margin: auto;
    justify-content: space-between;
}
.dish-slide img{
    width: 300px;
    border-radius: 100px;
}
.footer{
    background-color: lime;
}