*{
    margin: 0;
    padding: 0;
    --background-color: #E5E5E5;
}
header{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.BandejaMenu{
    margin-top: 15px;
}
.Bandeja{
    padding: 0.4px;
}